&nbsp;
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="Ban">
                <h1>{{messages.Ban}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1><img src="https://img.icons8.com/color/48/000000/hearts.png"/>Favorie des Région Pokémon :</h1>
    <div class="row">
        {{#each dbType1}}
        <div class="col-md-4">
            <div class="card bg-dark" style="width: 18rem;">
                <img src="{{imgSujets}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{ description }}</p>
                    <a href="/Sujet/{{_id}}" class="btn btn-outline-info">Voir L'article</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>