{{!-- Formulaire pour crée un article --}}
<form action="/adminSujet" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <label for="formGroupExampleInput">Titre De L'article :</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example de Titre"
                    name='title'>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <label for="exampleFormControlSelect1">Type de l'article :</label>
                <select class="form-control" id="exampleFormControlSelect1" name='type'>
                    <option>Accueil des Personnes</option>
                    <option>Article sur les Régions Pokémon</option>
                    <option>Article sur Les Jeux Pokémon</option>
                </select>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="comment">Description :</label>
                    <textarea class="form-control" rows="5" id="comment" name="description"></textarea>
                </div>
            </div>
        </div>
    </div>
    </br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="input">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01" name="imgSujets">
                        <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier ...</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <button class="btn btn-secondary">Annuler</button>
        </div>
    </div>
</form>
{{!-- /Formulaire pour crée un article --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/adminSujet/?_method=DELETE" method="post">
                <button type="submit" class="btn btn-primary float-right">Effacer tout</button>
            </form>
            <h1 class="title is-1">Liste des sujets :</h1>
        </div>
    </div>
</div>
<div>
    {{!-- Boucle pour afficher les sujet --}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{#each dbsujets }}
                <div class="card">
                    <header class="card-header">
                        <div class="card-content">
                            <div class="content">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-48x48">
                                                <img src=" {{ imgSujets }} ">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p>Titre: {{ title }}</p>
                                            {{!-- Dans les <p> je vais chercher les infos que j'ai besoin dans ma base de sonné --}}
                                            <div class="content">
                                                <p>{{ type }}</p>
                                                <p>{{ description }}</p>
                                                <p>{{ _id }}</p>
                                            </div>
                                            {{!-- /Dans les <p> je vais chercher les infos que j'ai besoin dans ma base de sonné --}}

                                        </div>
                                    </div>

                                    {{!-- Formulaire pour mettre a jour un sujet  --}}
                                    <form action="/admin/{{ _id }}/?_method=PUT" method="post">
                                        <input type="text" name="title" placeholder="Title">
                                        <input type="text" name="type" placeholder="Type">
                                        <input type="text" name="description" placeholder="Description">
                                        <input type="file" name="imgSujets">
                                        </br>
                                        <button type="submit" class="btn btn-primary">Editer</button>
                                    </form>
                                    {{!-- /Formulaire pour mettre a jour un sujet  --}}

                                    {{!-- Formulaire pour supprimer un article --}}
                                    <form action="/admin/{{ this.id }}/?_method=DELETE" method="post">
                                        <button type="submit" class="btn btn-primary">Effacer</button>
                                    </form>
                                    {{!-- /Formulaire pour supprimer un article --}}

                                </div>
                            </div>
                        </div>
                </div>
                {{/each }}
            </div>
        </div>
    </div>
    {{!-- /Boucle pour afficher les sujet --}}
</div>

<h1 class="title is-1">Liste des utilisateurs :</h1>

<div class="card">
    <header class="card-header">
        <div class="card-content">
            <div class="content">
                <div class="card-content">
                    <div class="media">
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Id</th>
                                    <th>Bouton</th>
                                </tr>
                            </thead>
                            {{#each dbusers }}
                            <tr>
                                <td>{{ username }}</td>
                                <td>{{ email }}</td>
                                <td>{{ _id }}</td>
                                <td>
                                    <form action="/admin/{{ this.id }}/?_method=DELETE" method="post">
                                        <button type="submit">Effacer</button>
                                    </form>

                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>