{{!-- Formulaire pour crée un article --}}
<form action="/admin" method="post" enctype="multipart/form-data">
    <div class="col">
        <label for="formGroupExampleInput" class="text-light">Titre De L'article :</label>
        <input type="text" name='title' required>
    </div>
    <div class="col">
        <label for="formGroupExampleInput" class="text-light">Type D'article :</label>
        <input type="text" name='type' required>
    </div>
    <h3 class="text-light">Description : &nbsp</h3>
    <textarea placeholder="Description" name="description"></textarea>
    </br>
    <input type="file" name="imgSujets" required>
    <div class="fiels is-grouped pt-4 ">
        <div class="control pr-5">
            <button type="submit" class="button pr4">Enregistrer</button>
            <button class="button">Annuler</button>
        </div>
    </div>
</form>
{{!-- /Formulaire pour crée un article --}}
</br>
<h1 class="title is-1">Liste des sujets :</h1>
{{!-- Formulaire pour éfacer tout les sujet --}}
<form action="/admin/?_method=DELETE" method="post">
    <button type="submit">Effacer tout</button>
</form>
{{!-- /Formulaire pour éfacer tout les sujet --}}
<div>
    {{!-- Boucle pour afficher les sujet --}}
    {{#each dbsujets }}
    <div class="card">
        <header class="card-header">
            <div class="card-content">
                <div class="content">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src=" {{ imgSujets }} ">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p>Titre: {{ title }}</p>
                            </div>
                        </div>

                        {{!-- Dans les <p> je vais chercher les infos que j'ai besoin dans ma base de sonné --}}
                        <div class="content">
                            <p>{{ type }}</p>
                            <p>{{ description }}</p>
                            <p>{{ _id }}</p>
                        </div>
                        {{!-- /Dans les <p> je vais chercher les infos que j'ai besoin dans ma base de sonné --}}

                        {{!-- Formulaire pour mettre a jour un sujet  --}}
                        <form action="/admin/{{ _id }}/?_method=PUT" method="post">
                            <input type="text" name="title" placeholder="Title">
                            <input type="text" name="type" placeholder="Type">
                            <input type="text" name="description" placeholder="Description">
                            <input type="file" name="imgSujets">
                            </br>
                            <button type="submit">Editer</button>
                        </form>
                        {{!-- /Formulaire pour mettre a jour un sujet  --}}

                        {{!-- Formulaire pour supprimer un article --}}
                        <form action="/admin/{{ this.id }}/?_method=DELETE" method="post">
                            <button type="submit">Effacer</button>
                        </form>
                        {{!-- /Formulaire pour supprimer un article --}}

                    </div>
                </div>
            </div>
    </div>
    {{/each }}
    {{!-- /Boucle pour afficher les sujet --}}
</div>

<h1 class="title is-1">Liste des utilisateurs :</h1>
{{#each dbusers }}
<div class="card">
    <header class="card-header">
        <div class="card-content">
            <div class="content">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p>username : {{ username }} email : {{ email }} password : {{ password }} id : {{ _id }}</p>
                        </div>
                    </div>
                    {{!-- /Dans les <p> je vais chercher les infos que j'ai besoin dans ma base de sonné --}}

                    {{!-- Formulaire pour mettre a jour un sujet  --}}
                    <form action="/admin/{{ _id }}/?_method=PUT" method="post">
                        <input type="text" name="username" placeholder="username">
                        <input type="text" name="email" placeholder="email">
                        <input type="text" name="password" placeholder="password">
                        </br>
                        <button type="submit">Editer</button>
                    </form>
                    {{!-- /Formulaire pour mettre a jour un sujet  --}}
                </div>
            </div>
        </div>
</div>
{{/each}} 