&nbsp;
<div class="container">
    <div class="row">
        <h1>Favorie du mois :</h1>
        <div class="col-md-12">
            <div class="card-deck">
                {{!-- Carte de mes sujet favorie --}}
                {{#each dbsujets}}
                <div class="card text-white bg-secondary mb-3">
                    <img src="{{imgSujets}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> {{title}} </h5>
                        <p class="card-text">{{ description }}</p>
                        <a href="/Sujet/{{_id}}"> Voir L'article</a></td>
                    </div>
                </div>
                {{/each}}
                {{!-- Carte de mes sujet favorie --}}
            </div>
        </div>
    </div>

&nbsp;
    <div class="container">
        <div class="row">
            <h1 class="title is-1">Favorie du mois :</h1>
            <div class="col-md-12">
                <div class="card-deck">
                    {{!-- Carte de mes équipe favorite --}}
                    {{#each dbsujets}}
                    <div class="card text-white bg-secondary mb-3">
                        <img src="{{imgSujets}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> {{title}} </h5>
                            <p class="card-text">{{ description }}</p>
                            <a href="/Sujet/{{_id}}"> Voir L'article</a></td>
                        </div>
                    </div>
                    {{/each}}
                    {{!-- /Carte de mes équipe favorite --}}
                </div>
            </div>
        </div>
    </div>
</div>