<div class="container">
    <div class="raw">
        <div class="col-md-12">
            <h1>
                <i class="far fa-address-book"></i>
                Liste des utilisateurs :
            </h1>
            {{!-- Tableau Info user --}}
            <table class="table table-hover table-dark">
                <thead>
                    {{!-- Cathegorie des info user --}}
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Username</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Sexe</th>
                        <th class="text-center">Vérifier</th>
                        <th class="text-center">Bannie</th>
                        <th class="text-center">Admin</th>
                        <th class="text-center">Supprimer Utilisateur</th> 
                        <th class="text-center">Bannir Utilisateur</th>
                    </tr>
                    {{!-- /Cathegorie des info user --}}
                </thead>
                {{#each dbUsers }}
                {{!-- Récuperation des info user dans la base de donnée --}}
                <tr>
                    <td class="text-center">{{ id }}</td>
                    <td class="text-center">{{ username }}</td>
                    <td class="text-center">{{ email }}</td>
                    <td class="text-center">{{ sexe }}</td>
                    <td class="text-center">{{ isVerified }}</td>
                    <td class="text-center">{{ isBan }}</td>
                    <td class="text-center">{{ isAdmin }}</td>
                    <td class="text-center">
                        {{!-- Forumailer pour modifier les info des user --}}
                        <form action="/admin/User/{{this._id}}" method="POST">
                            <button class="btn btn-outline-danger btn-circle btn-lg" type="submit">
                                <i class="fas fa-user-minus"></i>
                            </button>
                        </form>
                        {{!-- /Forumailer pour modifier les info des user --}}
                    </td>
                    <td class="text-center">
                        {{!-- Formulaire pout Ban les users --}}
                        <form action="/admin/User/Ban/{{this._id}}" method="POST">
                            <button class="btn btn-outline-warning btn-circle btn-lg" type="submit">
                                <i class="fas fa-user-times"></i>
                            </button>
                        </form>
                        {{!-- /Formulaire pout Ban les users --}}
                    </td>
                </tr>
                {{!-- Récuperation des info user dans la base de donnée --}}
                {{/each}}
            </table>
            {{!-- /Tableau Info user --}}
        </div>
    </div>
</div>