<div id="accordion1">
    <div class="card">
        <div class="card-header" id="Sujet">
            <h5 class="mb-0">
                <button class="btn btn-link " data-toggle="collapse" data-target="#collapseSujet" aria-expanded="true"
                    aria-controls="collapseSujet">
                    <h5>
                        <i class="far fa-map"></i>
                        Sujet sur les Région Pokémon :
                    </h5>
                </button>
            </h5>
        </div>

        <div id="collapseSujet" class="collapse show" aria-labelledby="Sujet" data-parent="#accordion1">
            <div class="card-body">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Description</th>
                            <th scope="col">Bouton</th>
                        </tr>
                    </thead>
                    {{#each dbType1 }}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ title }}</td>
                        <td>{{ description }}</td>
                        <td>
                            <form action="/Sujet/{{ _id }}/?_method=DELETE" method="post">
                                <a href="/Sujet/{{ _id }}" class="btn btn-success">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <!-- Button Modif Sujet -->
                                <button type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#EditModal">
                                    <i class="fas fa-pen"></i>
                                </button>
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each }}
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="Jeux">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseJeux"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <h5>
                        <i class="fas fa-gamepad"></i>
                        Sujet sur les Jeux Pokémon :
                    </h5>
                </button>
            </h5>
        </div>
        <div id="collapseJeux" class="collapse" aria-labelledby="Jeux" data-parent="#accordion1">
            <div class="card-body">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Description</th>
                            <th scope="col">Bouton</th>
                        </tr>
                    </thead>
                    {{#each dbType2 }}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ title }}</td>
                        <td>{{ description }}</td>
                        <td>
                            <form action="/Sujet/{{ _id }}/?_method=DELETE" method="post">
                                <a href="/Sujet/{{ _id }}" class="btn btn-success">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <!-- Button Modif Sujet -->
                                <button type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#EditModal">
                                    <i class="fas fa-pen"></i>
                                </button>
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each }}
                </table>
            </div>
        </div>
    </div>
</div>





<!-- Modal Edit Sujet -->
{{#each dbSujets }}
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/Sujet/{{ _id }}" method="put" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditModalLabel">Modification Article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="formGroupExampleInput">Titre De L'article :</label>
                                <input type="text" class="form-control" id="formGroupExampleInput"
                                    placeholder="Example de Titre" name='title' value="{{ title }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="exampleFormControlSelect1">Type de l'article :</label>
                                <select class="form-control" id="exampleFormControlSelect1" name='type' required>
                                    <option selected>Choisir :</option>
                                    <option value="1">Article sur les Régions Pokémon</option>
                                    <option value="2">Article sur Les Jeux Pokémon</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="comment">Description :</label>
                                    <textarea class="form-control" rows="5" id="comment" name="description"
                                        required>{{ description }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01" name="imgSujets">
                                        <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier
                                            ...</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/each}}